:root {
    --light-mode-bg: #fff;
    --light-mode-cta: #57015C;
    --light-mode-cta-hover: #91018C;
    --dark-mode-bg: #000;
    --dark-mode-cta: #AEFF75;
    --dark-mode-cta-hover: #94ED55;
    --h1-size: 40px;
    --h2-size: 30px;
    --h3-size: 26px; 
    --p-size: 20px;
    --p-post-author: 16px;
    --heading-font: "Montserrat";
    --p-font: "Roboto"; 
    --light-font: #fff;
    --dark-font: #000;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: cover;
}


a {
    text-decoration: none;
    color: var(--dark-font);
}

p, h1, h2 {
    padding: 0px 40px;
}

figure {
    margin: 0px auto;
}

.navigation {
    display: flex;
    justify-content: space-between;

}

.logo, .menu-button {
    position: relative;
    z-index: 1000;
    max-height: 57px;
    flex: 2;
    width: 100%;
    cursor: pointer;
    background-color: #fff;
}

nav, nav a, nav ul {
    font-family: var(--heading-font);
    font-size: var(--h1-size);
    color: #000;
    text-decoration: none;
    list-style: none;
    text-align: end;
}

nav ul {
    background-color: #fff;
}

#menu {
    display: none;
}

.menu a:hover {
    display: block;
    font-weight: 700;
}

.menu {
    margin-top: 50px;
    background-color: #fff;
}

.menu {
    z-index: 1000;
    position: fixed; 
    right: 0px;
    transition: transform 0.1s ease-in-out;
}
  
.menu {
    transform: translateX(220px);
}
  
#menu:checked ~ .menu {
    transform: translateX(0px);
    
}

body {
    max-width: 1000px;
    /* Change to 1640px  */
    margin: 0 auto;
    font-family: 'Roboto', 'Montserrat', sans-serif;
    
}

.header-big {
    min-height: 600px;
    object-fit: cover;
}

.heading-card {
    display: grid;
    z-index: 900;
    position: relative;
    top: 0px
}

.cta, button {
    display: flex;
    background-color: var(--light-mode-cta);
    color: var(--light-font);
    margin: 20px 60px;
    padding: 12px 0px;
    /* min-height: 50px; */
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    justify-content: center;
}

button {
    min-width: 157px;
}

.wp-block-quote {
    font-style: italic;
}

.latest-big {
    margin: 0px auto;
    max-width: 100%;
}

.latest-big img {
    max-width: 100%;
}

.posts-slim {
    margin: 0px auto;
    max-width: 360px;
}

.card-slim:hover {
    background-color: #fafafa;
}

.card-slim {
    display: grid;
    object-fit: contain;
}

.card-slim h2, .heading-card h2 {
    grid-area: 1 / 1;
    z-index: 999;
    background-color: #fff;
    max-height: 40px;
    max-width: fit-content;
    padding: 6px;
}

.heading-card h2 {
    margin-top: 70px;
    margin-left: 40px;
}

.card-slim img, .heading-card img {
    max-width: 100%;
    grid-area: 2 / 2 / 1 / 1;
    /* max-height: 180px; */
}

.card-slim .post-author {
    grid-area: 2 / 2 / 1 / 1;
    align-self: end;
    max-height: 30px;
    max-width: fit-content;
    background-color: #fff;
    padding: 4px;
}

/* .card-slim .carousel a {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
} */

.carousel {
    margin: 0px auto;
    object-fit: cover;
    object-position: 0%; 
    max-height: 250px;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 80vw);
    grid-template-rows: 1fr;
    overflow: scroll;
    scroll-snap-type: both mandatory;
}

.carousel img {
    max-height: 250px;
    object-fit: contain;
}

.arrow {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 10px solid var(--light-mode-cta);
    border-top: 10px solid var(--light-mode-cta);
}

.left-btn {
    transform: rotate(-45deg);
    margin: 10px;
}

.right-btn {
    transform: rotate(135deg);
    margin: 10px;
}

.page h2, .post-content h2 {
    position: absolute;
    margin-top: 70px;
    margin-left: 70px;
    background-color: #fff;
    padding: 6px;
}

.avatar {
    max-height: 100px;
    display: grid;
    align-items: center;
}

.avatar img {
    object-fit: contain;
    max-width: 60px;
}

.contact-page {
    position: relative;
    bottom: 0px;
}

.req {
    color: #57015C;
    display: none;
}
input, textarea {
    padding: 4px;
    margin: 14px 0px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    min-width: 100%;
}

form  {
    display: flex;
    flex-direction: column;
}

textarea {
    min-height: 160px;
    min-width: 340px;
}

button {
    margin: 20px auto;
}

.page img {
    max-height: 80vh;
}

/* img:hover {
    opacity: 0.8;
} */

.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    backdrop-filter: blur(10px) brightness(20%);
    background-blend-mode: color;
    top: 0px;
    left: 0px;
    z-index: 10000;
    width: 100%;
    height: 100%;

}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    
}


@media screen and (min-width: 1001px) {
    .navigation {
        z-index: 1000;
        position: fixed;
        max-width: 100%;
    }

    .menu {
        transform: translateX(800px);
        margin-top: 10px;
        z-index: 1000;
    }
    .menu a:hover {
        display: inline;
    }

    .menu-button {
        left: 650px;
        z-index: 10000;
        padding-right: 300px;
    }

    .menu li {
        display: inline;
        padding: 6px;
    }

    .menu ul {
        padding: 0px;
        margin: 0px;
    }

    #menu:checked ~ .menu {
        transform: translateX(-35%);
        
    }
    
    main {
        padding: 0px 207px
    }

    .latest-big {
        padding: 0px 207px;
    }

    .posts-slim {
        max-width: 720px;
    }

    .heading-card h2, .page h2, .post-content h2 {
        margin-left: 0px;
    }

 
}