:root {
    --light-mode-bg: #fff;
    --light-mode-cta: #57015C;
    --light-mode-cta-hover: #91018C;
    --dark-mode-bg: #000;
    --dark-mode-cta: #AEFF75;
    --dark-mode-cta-hover: #94ED55;
    --h1-size: 40px;
    --h2-size: 30px;
    --h3-size: 26px; 
    --p-size: 20px;
    --p-post-author: 16px;
    --heading-font: "Montserrat";
    --p-font: "Roboto"; 
    --light-font: #fff;
    --dark-font: #000;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.navigation {
    display: flex;
    justify-content: space-between;

}

.logo, .menu-button {
    max-height: 57px;
    flex: 2;
    width: 100%;
    cursor: pointer;
}

nav, nav a, nav ul {
    font-family: var(--heading-font);
    font-size: var(--h1-size);
    color: #000;
    text-decoration: none;
    list-style: none;
    text-align: end;
}

nav ul {
    /* position: relative; */
    left: 50px;
}

#menu {
    
}

.menu a:hover {
    display: block;
    font-weight: 700;
    /*transform: translateY(10px);*/
}

.menu {
    transform: translateX(-40px);
    transition: transform 0.2s ease-in-out;
}

#menu:checked ~ .menu {
    background-color: #000;
}



body {
    margin: 0 auto;
    font-family: 'Roboto', 'Montserrat', sans-serif;
    max-width: 100%;
}

.cta {
    background-color: var(--light-mode-cta);
    color: var(--light-font);
    padding: 10px 50px;
    min-height: 50px;
    text-transform: uppercase;
    text-decoration: none;
}

.wp-block-quote {
    font-style: italic;
}

.latest-big {
    margin: 0px auto;
    max-width: 100%;
}

.latest-big img {
    max-width: 100%;
}

.posts-slim {
    margin: 0px auto;
    max-width: 360px;
}

.card-slim img{
    max-width: 100%;
}