:root {
    --light-mode-bg: #fff;
    --light-mode-cta: #57015C;
    --light-mode-cta-hover: #91018C;
    --dark-mode-bg: #000;
    --dark-mode-cta: #AEFF75;
    --dark-mode-cta-hover: #94ED55;
    --h1-size: 40px;
    --h2-size: 30px;
    --h3-size: 26px; 
    --p-size: 20px;
    --p-post-author: 16px;
    --heading-font: "Montserrat";
    --p-font: "Roboto"; 
    --light-font: #fff;
    --dark-font: #000;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: var(--dark-font);
}

figure {
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;

}

.logo, .menu-button {
    position: relative;
    z-index: 1000;
    max-height: 57px;
    flex: 2;
    width: 100%;
    cursor: pointer;
    background-color: #fff;
}

nav, nav a, nav ul {
    font-family: var(--heading-font);
    font-size: var(--h1-size);
    color: #000;
    text-decoration: none;
    list-style: none;
    text-align: end;
}

nav ul {
    background-color: #fff;
}

#menu {
    display: none;
}

.menu a:hover {
    display: block;
    font-weight: 700;
}

.menu {
    margin-top: 50px;
    background-color: #fff;
}

.menu {
    z-index: 1000;
    position: fixed; 
    right: 0px;
    transition: transform 0.1s ease-in-out;
}
  
.menu {
    transform: translateX(220px);
}
  
#menu:checked ~ .menu {
    transform: translateX(0px);
    
}

body {
    max-width: 1000px;
    /* Change to 1640px  */
    margin: 0 auto;
    font-family: 'Roboto', 'Montserrat', sans-serif;
    
}



.header-big {
    min-height: 600px;
    object-fit: cover;
}

.heading-card {
    display: grid;
    z-index: 900;
    position: relative;
    top: 0px
}

.cta {
    display: flex;
    background-color: var(--light-mode-cta);
    color: var(--light-font);
    margin: 20px 60px;
    padding: 12px 0px;
    /* min-height: 50px; */
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
}

.wp-block-quote {
    font-style: italic;
}

.latest-big {
    margin: 0px auto;
    max-width: 100%;
}

.latest-big img {
    max-width: 100%;
}

.posts-slim {
    margin: 0px auto;
    max-width: 360px;
}

.card-slim:hover {
    background-color: #fafafa;
}

.card-slim {
    display: grid;
    object-fit: contain;
}

.card-slim h2, .heading-card h2 {
    grid-area: 1 / 1;
    z-index: 1000;
    background-color: #fff;
    max-height: 40px;
    max-width: fit-content;
    padding: 6px;
}

.heading-card h2 {
    margin-top: 70px;
}

.card-slim img, .heading-card img {
    max-width: 100%;
    grid-area: 2 / 2 / 1 / 1;
    /* max-height: 180px; */
}

.card-slim .post-author {
    grid-area: 2 / 2 / 1 / 1;
    align-self: end;
    max-height: 30px;
    max-width: fit-content;
    background-color: #fff;
    padding: 4px;
}

.carousel {
    margin: 20px 0px;
    object-fit: contain;
    object-position: 0%; 
    max-height: 250px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 80vw);
    grid-template-rows: 1fr;
    overflow: hidden;
    scroll-snap-type: both mandatory;
}



@media screen and (min-width: 1001px) {
    .navigation {
        z-index: 1000;
        position: fixed;
        max-width: 100%;
    }

    .menu-button {
        left: 650px;
    }
    
    main {
        padding: 0px 207px
    }

    .latest-big {
        padding: 0px 207px;
    }

    .posts-slim {
        max-width: 720px;
    }
}