:root {
    --light-mode-bg: #fff;
    --light-mode-cta: #57015C;
    --light-mode-cta-hover: #91018C;
    --h1-size: 32px;
    --h2-size: 28px;
    --h3-size: 26px; 
    --p-size: 20px;
    --p-post-author: 16px;
    --heading-font: "Montserrat";
    --p-font: "Roboto"; 
    --light-font: #fff;
    --dark-font: #000;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: var(--dark-font);
}

.h1 {
    font-size: var(--h1-size);
    padding-bottom: 46px;
}


p, h1, h2 {
    padding: 0px 40px;
}

.posts-card .card-slim h2 {
    padding-top: 10px;
    padding-bottom: 5px;
}

.post-content h2 {
    position: relative;
    top: 0px;
    background-color: #fff;
}
.posts-card, .page, .post-content {
    position: relative;
    top: -57px;
}

figure {
    margin: inherit;
}

.wp-block-media-text_media {
    margin: 0px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.logo, .menu-button {
    position: relative;
    z-index: 10000;
    max-height: 57px;
    flex: 2;
    width: 100%;
    cursor: pointer;
    background-color: #fff;
}

nav, nav a, nav ul {
    font-family: var(--heading-font);
    font-size: var(--h1-size);
    color: #000;
    text-decoration: none;
    list-style: none;
    text-align: end;
}

nav ul {
    background-color: #fff;
}

.sub-nav {
    position: relative;
    z-index: 1000;
    top: 135px;
}

#menu {
    display: none;
}

.menu a:hover {
    background-color: #fff;
    filter: invert();
}

.menu {
    margin-top: 67px;
    background-color: #fff;
}

.menu {
    z-index: 1000;
    position: fixed; 
    right: 0px;
    transition: transform 0.1s ease-in-out;
}
  
.menu {
    transform: translateX(220px);
}
  
#menu:checked ~ .menu {
    transform: translateX(0px);
}

.current {
    position: relative;
    top: 8px;
    display: inline-block;
    font-weight: 700;
}

body {
    max-width: 1001px;
    margin: 0 auto;
    font-family: 'Roboto', 'Montserrat', sans-serif;
}

.header-big {
    min-height: 600px;
    object-fit: cover;
}

.heading-card {
    display: grid;
    z-index: 900;
    position: relative;
    top: 0px
}

.cta, button {
    display: flex;
    background-color: var(--light-mode-cta);
    color: var(--light-font);
    margin: 20px 60px;
    padding: 12px 0px;
    border: #57015C;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    justify-content: center;
}

.cta:hover, button:hover {
    background-color: var(--light-mode-cta-hover);
}

.load-cta {
    display: none;
}

button {
    min-width: 157px;
    cursor: pointer;
}

.wp-block-quote {
    font-style: italic;
}

.latest-big {
    margin: 0px auto;
    max-width: 100%;
}

.latest-big img {
    max-width: 100%;
}

.latest-big h1, .latest-big h2, .card-slim h2 {
    max-width: fit-content;
    align-self: start;
    position: relative;
    top: 0px;
    grid-area: 1 / 1;
    background-color: #fff;
}

.latest-big h1 {
    margin-top: 70px;
}

.latest-big p {
    grid-area: 1 / 1 ;
    align-self: end;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    margin: 5px 15px 15px 15px;
}

.posts-slim {
    margin: 0px auto;
    max-width: 80%;
}

.card-slim:hover {
    background-color: #fafafa;
}

.card-slim {
    display: grid;
    object-fit: contain;
}

.card-slim h1, .heading-card h1, .latest-big .post-author, h1 {
    grid-area: 1 / 1;
    z-index: 999;
    background-color: #fff;
    max-height: 40px;
    max-width: fit-content;
    padding-bottom: 42px;
    position: relative;
}

.latest-big .post-author {
    align-self: start;
    position: relative;
    top: 155px;
    margin-left: 40px;
    padding-bottom: 0px;
}

.heading-card h2 {
    margin-top: 126px;
    margin-left: 40px;
}

.card-slim img, .heading-card img {
    max-width: 100%;
    grid-area: 2 / 2 / 1 / 1;
}

.card-slim .post-author {
    grid-area: 2 / 2 / 1 / 1;
    align-self: end;
    max-height: 30px;
    max-width: fit-content;
    background-color: #fff;
    padding: 4px;
}

.card-slim {
    overflow: hidden;
}

.card-slim .carousel a {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.carousel + h2 {
    padding: 0px;
}

.carousel {
    margin: 0px auto;
    object-fit: cover;
    object-position: 0%; 
    height: 200px;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 100%);
    grid-template-rows: 1fr;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: both mandatory;
}

.carousel::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.carousel-element {
    width: 100%;
    height: 100%;
    z-index: 900;
    scroll-snap-align: center;
}

.carousel-element .post-author {
    align-self: unset;
    position: relative;
    top: 140px;
}

.carousel img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: top;
}

.arrow {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-left: 10px solid var(--light-mode-cta);
    border-top: 10px solid var(--light-mode-cta);
}

.arrow-buttons {
    position: relative;
    z-index: 800;
    top: -120px;
    display: flex;
    justify-content: space-between;
}

.arrow:hover {
    border-left-color: var(--light-mode-cta-hover);
    border-top-color: var(--light-mode-cta-hover);
}

.left-btn {
    left: 0px;
    transform: rotate(-45deg);
    margin: 10px;
}

.right-btn {
    right: 0px;
    transform: rotate(135deg);
    margin: 10px;
}

.sub-nav {
    left: 25px;
    top: 79px
}

.page h1, .post-content h1 {
    position: absolute;
    margin-top: 70px;
    background-color: #fff;
    padding-bottom: 42px;
    padding-left: 80px;
}

.avatar {
    max-height: 100px;
    display: flex;
    align-items: center;
}

.avatar img {
    object-fit: contain;
    height: 60px;
    width: 60px;
    margin: 20px;
}

.contact-page {
    position: relative;
    bottom: 0px;
}

.req {
    color: darkred;
    display: none;
}

.req-ok {
    display: inline-block;
    width: 20px;
    height: 10px;
    border-left: 4px solid #5BA12A;
    border-bottom: 4px solid #5BA12A;
    transform: rotate(-45deg);
    grid-area: 1 / 1;
    position: relative;
    top: -20px;
    left: 315px;
    display: none;
}

input, textarea {
    padding: 4px;
    margin-bottom: 8px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    min-width: 100%;
}

form  {
    display: flex;
    flex-direction: column;
}

textarea {
    min-height: 160px;
    min-width: 340px;
}

button {
    margin: 20px auto;
}

.page img {
    max-height: 80vh;
}

.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    backdrop-filter: brightness(20%) blur(10px);
    -webkit-backdrop-filter: brightness(20%) blur(10px);
    top: 0px;
    left: 0px;
    z-index: 10000;
    width: 100%;
    height: 100%;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
}

footer {
    z-index: 100;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 85px;
    background-color: #000;
}

.footer-logo {
    margin: 0px auto;
    width: 80px;
    height: 80px;
    color: #fff;
}

.footer-text {
    align-self: center;
    color: #fff;
    padding: 0px 10px;
}

.loading {
    margin: auto;
    border: 10px solid var(--light-mode-cta);
    border-radius: 50%;
    border-bottom-color: #fff;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 500px) {
    main {
        padding: 16px 10%;
        position: relative;
    }

    .sub-nav {
        top: 95px;
    }

    .latest-big p {
        margin: 5px 10% 40px 10%;
    }

    .posts-card, .page, .post-content {
        position: relative;
        top: -57px;
    }

    .card-slim h2 {
        top: 67px;
    }

    .carousel h2, .posts-slim h2 {
        top: 0px;
    }
} 


@media screen and (min-width: 1001px) {

    .card-slim h2 {
        top: 0px;
    }

    .posts-card, .page {
        position: relative;
        top: -0px;
    }

    .navigation {
        z-index: 1000;
        position: fixed;
        max-width: 100%;
        padding: 0px;
    }

    .menu {
        transform: translateX(800px);
        left: 600px;
        /* transform: translateX(100px); */
        margin-top: 7px;
        z-index: 1000;
    }
    .menu a:hover {
        display: inline;
    }

    .menu-button {
        left: 650px;
        z-index: 10000;
        padding-right: 600px;
        overflow: hidden;
    }

    .menu li {
        display: inline;
        padding: 6px;
    }

    .menu ul {
        padding: 0px;
        margin: 0px;
        max-width: 100%;
    }

    #menu:checked ~ .menu {
        transform: translateX(-50%);
    }

    .sub-nav {
        top: 132px;
        left: 205px;
        height: 24px;
        width: 24px;
        border-left: 8px solid var(--light-mode-cta);
        border-top: 8px solid var(--light-mode-cta);
    }

    main {
        padding: 16px 207px
    }

    .posts-card > .card-slim h2 {
        margin-top: 70px;
        padding-left: 40px;
    }

    .latest-big {
        padding: 64px 207px
    }

    .no-padding {
        padding: 0px 207px; 
    }

    .padding {
        padding-top: 57px;
    }

    .posts-slim {
        max-width: 720px;
    }

    .page h1, .post-content h1, .heading-card h1 {
        margin-left: 0px;
        padding-left: 80px ;
    }

    .card-slim h1 {
        position: relative;
        top: 36px;
    }
}